/*INDEX PAGE */
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #fff1c1;
}

.index-body,
.white-box,
.red-box-index-1,
.red-box-index-2,
.blue-box-index {
  display: grid;
}

.index-body {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25vh 25vh 25vh 25vh;
  background-color: #293462;
  margin: 0;
}

.white-box {
  background-color: #fff1c1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.red-box-index-1 {
  background-color: #fe5f55;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blue-box-index {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.red-box-index-2 {
  background-color: #fe5f55;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.dark-red-box-index-1 {
  background-color: #a64942;
  grid-column-start: 4;
  grid-column-end: 5;
}

.dark-red-box-index-2 {
  background-color: #a64942;
  grid-row-start: 4;
  grid-row-end: 5;
}

.georgia-name-wrap,
.blue-box-inside-1,
.blue-box-inside-2,
.red-box-inside-1,
.red-box-inside-2 {
  display: flex;
  position: relative;
}

.georgia-name-wrap {
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: center;
}

.blue-box-inside-1,
.blue-box-inside-2 {
  padding: 0 1rem;
  justify-content: flex-start;
}

.blue-box-inside-1 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.blue-box-inside-2 {
  grid-row-start: 4;
  grid-row-end: 6;
}

.red-box-inside-1,
.red-box-inside-2 {
  padding: 0 1rem;
  justify-content: flex-end;
}

.red-box-inside-1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.red-box-inside-2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.georgia-name {
  color: #293462;
  font-size: 6rem;
  margin: 0;
  align-self: center;
  font-family: "Arvo", serif;
}

.blue-menu-item-index,
.red-menu-item-index {
  font-size: 2.9rem;
  margin: 0;
  align-self: center;
  color: #fff1c1;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/*--------------------------------ABOUT PAGE----------------------------------*/

.body-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}

.content-wrap {
  height: 100vh;
  width: 66vw;
  background-color: #fff1c1;
  display: flex;
  flex-direction: column;
}

.nav-wrap {
  height: 100vh;
  width: 34vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .content-wrap {
    width: 100vw;
    height: 70vh;
    order: 2;
  }

  .nav-wrap {
    width: 100vw;
    height: 30vh;
    order: 1;
  }
}

.red-box,
.blue-box,
.red-box-small,
.blue-box-small {
  display: grid;
}

.red-box,
.blue-box,
.red-box-small,
.blue-box-small {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.red-box {
  background-color: #fe5f55;
  grid-column-start: 1;
  grid-column-end: 2;
}

.blue-box {
  background-color: #293462;
  grid-column-start: 2;
  grid-column-end: 3;
}

.red-box-small {
  grid-row-start: 1;
  grid-row-end: 4;
}

.blue-box-small {
  grid-row-start: 1;
  grid-row-end: 4;
}

.red-menu-item-wrap-1,
.red-menu-item-wrap-2,
.blue-menu-item-wrap-1,
.blue-menu-item-wrap-2 {
  display: flex;
  padding: 0 1rem;
  position: relative;
}

.red-menu-item-wrap-1 {
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: flex-end;
}

.red-menu-item-wrap-2 {
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: flex-end;
}

.blue-menu-item-wrap-1 {
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: flex-start;
}

.blue-menu-item-wrap-2 {
  grid-row-start: 5;
  grid-row-end: 6;
  justify-content: flex-start;
}

.red-menu-item,
.blue-menu-item {
  font-size: 2rem;
  margin: 0;
  align-self: center;
  color: #fff1c1;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/*HOVER */

.red-menu-item-index:after,
.blue-menu-item-index:after,
.red-menu-item:after,
.blue-menu-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  display: block;
  right: 0;
  background-color: #293462;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}

.blue-menu-item-index:after,
.blue-menu-item:after {
  background-color: #fe5f55;
}

.red-menu-item-index:hover:after,
.blue-menu-item-index:hover:after,
.red-menu-item:hover:after,
.blue-menu-item:hover:after {
  width: 100%;
  left: 0;
  background-color: #293462;
}

.blue-menu-item-index:hover:after,
.blue-menu-item:hover:after {
  background-color: #fe5f55;
}

/*FORM*/

.formWrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.formWrapper > * {
  align-self: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  /* margin: 5rem 10rem; */
  width: 10rem;
  border: 2px solid black;
}

.inputInfo,
.submitButton {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border: solid gray 1px;
  font-size: 0.9rem;
}

.submitButton {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #37baf5, #4285f4);
  border: none;
  color: white;
}

/*TITLE OF PAGE*/

.main-content-wrap {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: center; */
}

.title-of-page {
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  text-decoration-color: #fe5f55;
  color: #293462;
  font-size: 3rem;
}

/*--------------------------- LANGUAGE LOGOS ---------------------------------*/

.logo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* border: 2px solid black; */
  align-self: center;
}

.language-logo-wrap {
  /* object-fit: contain; */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background-color: #fff4d2;
  margin: 1rem;
  padding: 1.8rem;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  align-self: center;
}

.html5,
.css3,
.react,
.js,
.postgres,
.travis,
.es6,
.git,
.heroku,
.handlebars {
  width: 5rem;
  height: 5rem;
}

.node,
.express {
  width: 6rem;
  height: 4rem;
}

.handlebars {
  width: 8rem;
  height: 8rem;
}
